.cell {
    display: flex;
    min-width: 128px;
    min-height: 128px;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;

}

.cell>img {
    object-fit: cover;
    width: 100px;
    height: 100px;
}