.column {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: red;
}

@media only screen and (max-width: 900px) {
    .column {
        flex-direction: row;
    }
}

#icon {
    width: 128px;
    filter: invert(100%);
    pointer-events: none;
}

/* sepia(89%) saturate(5000%) hue-rotate(100deg)*/